<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/header.ejs %>
	</head>

	<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
		<main>
			<!-- add nav.ejs -->
			<% include ../partials/nav.ejs %>

		</main>
		<% include ../partials/more.ejs %>
	</body>
</html>
